.about
{
	padding-top: 20px;
	border-bottom: 3px solid blueviolet;
}

.carousel .carousel-item{
	max-height: 600px;
}
.container-fluid{
	margin-top: 20px;
}
.lead{
	padding-top: 16px;
    font-size: 23px;
    font-weight: 400;
    line-height: 30px;
    color: rgb(26, 26, 27);
    overflow: auto;
}
.event-images >img{
	height: 200px;
	width: 200px;
	text-align: center;
	align-self: center;
}
.eve{
	text-align: center;
	background-color: orange;
	padding-top: 20px;
}
.container-fluid{
	padding-left: 20px;
	padding-right: 20px;
}
.eve:hover{
	background-color: green;
	transform: scale(1.1);
	z-index: 999;

}
.cat-header{
	margin-top: 50px;
	align-self: center;
}
.event-box{
	margin-top: 20px;
}
.modal-button{
	position: fixed;
	bottom: 20px;
	right: 20px;
	height: 60px;
	width: 60px;
	border-radius: 90%;
	align-content: center;
	z-index: 999;
	background-color: orange;
	border: none;
}
#shopping-cart{
	height: 30px;
	width: 30px;
	text-align: center;
	align-self: center;

}
.eve-heading{
	text-align: center;
	padding-top: 30px;
}

.eve-heading-small{
	text-align: center;
	display: none;
}
.event-box-footer{
	text-align: right;
	margin-right: 10px;
	display: inline;
	float: right;
}
.event-box-footer > *{
	display: inline-block;
	text-align: right;
	padding: 7px;

}
.event-box-footer > button{
	border-radius: 50%;
	width: 35px;
	text-align: center;
	text-decoration: none;
	border: none;
}
.cont{
	margin-top: 10px;
	color: #D5D5D5;
	font-size: 2em;

}

@media screen and (max-width: 600px){
	.event-images >img{
		height: 100px;
		width: 100px;
	}	
	.lead{

		font-size: 1rem;
	}
	.eve-heading-small{
	text-align: center;
	display: block;
	}
	.eve-heading{
		display: none;
		text-align: center;
	}
}
.filter-form{
	margin-left: 30px;
}
.filter-form > h1{
	margin-right: 20px;
}
#myBtnContainer{
	margin-left: 20px;
}
@media screen and (max-width: 992px){
	.event-images >img{
		height: 150px;
		width: 150px;
	}	
}

html {
  font-size: 1rem;
}

@include media-breakpoint-up(sm) {
  html {
    font-size: 1.2rem;
  }
}

@include media-breakpoint-up(md) {
  html {
    font-size: 1.4rem;
  }
}

@include media-breakpoint-up(lg) {
  html {
    font-size: 1.6rem;
  }
}